                                                        /* Navbar */

.Navbar{
    display: flex;
    /* border: 2px solid black; */
    width: 100wh;
    height: 3rem;
    justify-content: space-around;
    color: white;
    align-items: center;
}
.phone , .phone-main{
    display: none;
}

.phone-1-x
{

        height: 2.5px;
        width: 42px !important;
        background: #000;
        transform-origin: left;
        transform: rotate(45deg);
        transition: all 0.2s ease-in-out;
}

.phone-2-hidden
{
        display: none;
}

.phone-3-x
{
        height: 2.5px;
        width: 42px !important;
        background: #000;
        transform-origin: left;
        transform: rotate(-45deg);
        transition: all 0.2s ease-in-out;
}

.slider-hidden
{
    display: none !important;
}

.slider-main
{
    display: visible !important;
    width: 100%;
    margin-top: 1rem;
    /* border: 2px solid black; */
    transition: all 1s ease-in-out;
    padding: 1rem;
}

.slider-posts ,  .slider-home , .slider-create, .slider-login , .slider-register
{
    border-bottom: 1px solid white;
    padding: 2px;
    border-radius: 2px;
}

.slider-posts a , .slider-home a , .slider-create a , .slider-login a , .slider-register a{
    text-decoration: none;
    color: aliceblue;
    padding: 2px 0 2px 5px;
}


.Navbar-left
{
    outline: none;
    color: white;
    /* border: 2px solid black; */
    width: fit-content;
    height: 3rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar-left a
{
    outline: none;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.Navbar-left:hover
{
    background: #e53624;
    transition: all 0.2s ease-in-out;
}

.Navbar-right
{
    /* border: 2px solid black; */
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Navbar-right div{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
   height: 100%;
}


.Navbar-right div:hover{
    background: #e53624;
    transition: all 0.2s ease-in-out;
}
.Navbar-right a{
    outline: none;
    padding: 0 2rem 0 1rem;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 930px)
{
    .Navbar-right li{
        padding: 0 1rem 0 0.5rem;

    }
}

@media screen and (max-width: 600px)
{
    .Navbar{ 
       display: none; 

    }

}

@media screen and (max-width: 600px)
{
    .Navbar{ 
       display: none; 
    }

    .phone-main{
        width: 100%;
        /* border: 2px solid black; */
        display: visible;
        display: flex;
        justify-content: flex-end;
    }
    .phone{
        display: block;
        display:visible;
        /* border: 2px solid black; */
        width: 1.5rem;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-right: 1.5rem;
        margin-bottom: 1rem;

    }
    .phone-1 , .phone-2 , .phone-3
    {
        height: 2.5px;
        width: 42px !important;
        background: #000;
        display: visible;
    }
}




                                                        /* Main Navbar */

.Main_navbar
{
    height:fit-content;
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* border: 2px solid black; */
    overflow-y: hidden;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}

.Left_main_navbar
{
    display: flex;
    align-items: center;
    width: fit-content;
}

.Left_main_navbar img
{
    object-fit: cover;
}

.Right_main_navbar img
{
    object-fit:fill ;
}
.Right_main_navbar
{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1435px)
{
    .Right_main_navbar
    {
        width: 40%;
    }
}

@media screen and (max-width: 1113px)
{
    .Right_main_navbar
    {
        width: 50%;
    }
}

@media screen and (max-width: 950px)
{
    .Right_main_navbar
    {
        width: 70%;
    }
}

@media screen and (max-width: 840px)
{
    .Main_navbar
    {
        flex-direction: column;
    }
} 

@media screen and (max-width: 600px)
{
    .Right_main_navbar
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px)
{
    .Left_main_navbar
    {
        width: 80%;
    }
    .Right_main_navbar
    {
        width: 80%;
    }
}
