.login-container {
  /* // border: 2px solid black; */
  width: 100vw;
  height: 50rem;
  margin-top: 0px;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #14418a; */
}

.login-form {
  width: 35%;
  height: 40rem;
  /* // border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: 10px 10px 20px #14418a;
  
}

.login-span {
  margin-bottom:1rem;
  font-size: 2rem;
  color:#14418a;
  border-bottom: 3px solid #14418a;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* // border: 2px solid green; */
  flex-direction: column;
  width: 80%;
}

#login-form input {
  margin: 2rem;
  width: 90%;
  height: 3rem;
  display: block;
  /* padding-bottom: 2rem; */
  font-weight: bold;
  padding-left: 1rem;
  outline: none;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
  border-bottom: 3px solid #14418a;
  border-radius: 25px;
}

#login-form  :hover {
  scale: 1.07;
}

.btn-login :hover
{
  scale: 1.1;
  background: #14418a;
  color: white;
}


 .btn-login {
  margin: 1rem;
  width: 80%;
  height: 3rem;
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
  background-color: #14418a;
  color: white;
}

.p{
  color: black;
  font-size: 1rem;
}
.para1{
  color: black;
  font-size: 1rem;
}

.para1 a{
  font-weight: bold;
}


.img-container{
  height: 60px;
  /* margin-top: 30px; */
  
}
.pl{
  margin: 0rem;
  color: black;
  font-size: 1rem;
}
.fp{
  text-align: center;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: bold;
}

@media  (max-width:1200px) {
  .login-form
    {   
        width: 50% !important;
    }
}
@media  (max-width:780px) {
    .login-span{
        font-size: 2.7rem !important;
    }

    #login-form input{
        font-size: 1rem !important;
        font-weight: bold;
    }

    .login-form
    {   
        width: 70% !important;
    }

    button{
        font-size: 1.3rem !important;
    }
    .btn-login
    {
      width: 90%;
    }
    .fp{
      font-size: 0.8rem;
    }
    .p{
      font-size: 0.8rem;
    }
    .para1{
      font-size: 0.8rem;
    }
  }

  @media  (max-width:430px) {


    .login-container
    {
        height: 60rem !important;
    }

    .login-form
    {
        height: 35rem !important;
    }

    #login-form input{
      font-size: 1rem !important;
      font-weight: bold;
  }

    .login-span
    {
      font-size: 1.6rem !important;
      
    }

    .pl
    {
      font-size: 0.8rem;
      visibility: hidden;
    }

   



  } 